/*
    Facilitas Calculator
    App Style
    You know what it does.
*/

/* Definitions */
:root {
    /* Colors */
    --colorLightA: #c5c5c5;
    --colorLightB: #949b96;
    --colorDarkA: #4c5c61;
    --colorDarkB: #829191;
    --colorAccentA: #2c423f;
    --colorAccentB: #fe615a;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url(./fonts/SourceCodePro-Medium.ttf);
}

@font-face {
    font-family: 'Source Code Pro Bold';
    src: url(./fonts/SourceCodePro-Bold.ttf);
}

/* General */
html, 
body {
    height: 100%;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--colorDarkB);
    color: whitesmoke;
    margin: 0;
}

/* Equation List */
.equations {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--colorDarkA);
    height: 120px;
}

.equations > li {
    position: relative;
    padding: 4px 8px 4px 8px;
    min-height: 24px;
    border-bottom: 1px solid var(--colorAccentA);
}

.equations > li {
    margin: 0;
}

.equations > li > span {
    font-family: 'Source Code Pro Bold', monospace;
    color: var(--colorLightA);
}

.equations > li > span.err {
    color: var(--colorAccentB);
}

.equations > li > span::before {
    content: '| ';
}

/* Choice Items */
.choiceItems {
    padding: 4px 4px 4px 4px;
    position: relative;
}

.choiceItems > div {
    width: 25%;
    background-color: var(--colorDarkA);
    padding: 4px;
}

.choiceItems > div:hover {
    background-color: var(--colorAccentA);
}

.choiceItems > div > p {
    margin: 0;
    text-align: center;
}

.choiceItems > div > ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.choiceItems > div > ul > li {
    cursor: pointer;
    padding: 6px;
    margin-top: 4px;
    background-color: var(--colorDarkA);
}

.choiceItems > div > ul > li:hover {
    background-color: var(--colorAccentA);
}
